        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        body{
            background-color: rgb(175, 240, 229);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container{
            min-width: 870px;
            width: 80vw;
            height: 70vh;
            background-color: #fff;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
        }
        .leftbox{
            width: 30%;
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
      
        .box{
            height: 30%;
            width: 100%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 25px;
            border-right: 2px solid rgba(0,0,0,0.5);

        }
        .rightbox{
            width: 70%;
            height: 100%;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }
        .paraopacity{
            opacity: 0.5;
            font-size: 15px;
            font-weight: 500;
        }
        .heading{
            font-weight: 800;
            color: black;
        }
        .box i{
            color: rgb(50, 10, 192);
            font-size: 1.5rem;
        }
        .message{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: rgb(50, 10, 192);
            height: 25%;
            width: 100%;
            background-color: #fff;
        }
        .message p{
            margin-left: 50px;
            font-weight: 800;
            font-size: 1.5rem;
        }
        .info{
            height: 15%;
            width: 100%;
            color: rgba(0,0,0,0.5);
        }
        .info p{
            margin-top: 10px;
            margin-left: 50px;
            font-size: 1rem;
            font-weight: 500;
            line-height: 25px;
        }
        .formbox form{
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
       .formbox form input{
        border-radius: 10px;
        height: 70px;
        width: 100%;
        outline: none;
        border: none;
        text-align: start;
        background-color: rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.5);
        padding: 25px;
       }
       .formbox form textarea{
        padding: 25px;
            height: 140px;
            width: 100%;
            border-radius: 10px;
            text-align: start;
            background-color: rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.5);
        border: none;
        outline: none;
       }
       .formbox form textarea:focus{
        border: none;
        outline: none;
       }
       .btn1{
        height: 50px;
        width: 150px;
        background-color: rgb(50, 10, 192);
        color: #fff;
        border-radius: 8px;
        border: none;
        margin: 20px 5px 5px 5px;
       }
       .mybtn{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
       }
      
       .formbox{
        height: 75%;
        width: 100%;
        flex-shrink: 1;
       }
       .btn1:hover{
        background-color: blue;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
       }